In [64]:
import pandas as pd

### Combining Seller Sheets

In [65]:
dib1 = pd.read_csv("Worksheets/dib1.csv")
dib2 = pd.read_csv("Worksheets/dib2.csv")
dib3 = pd.read_csv("Worksheets/dib3.csv")

ff = pd.concat([dib1, dib2, dib3], axis=0).drop(['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1)

### Merging Address Data with Seller Data

In [66]:
ad = pd.read_csv("Worksheets/addresses.csv")
ad = ad.drop(['Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1)

adxref = pd.read_csv("Worksheets/addresses_xref.csv")
adxref = adxref.drop(['Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1)

adds = pd.merge(ad, adxref, left_on='id', right_on='address_id', how='outer').drop(['id_x', 'id_y'], 
                                                                                   axis=1)

In [67]:
ff = pd.merge(ff, adds, on='seller_pk')

### Adding Account and Contact Records

In [68]:
a_r = pd.read_csv("Worksheets/account_records.csv")
a_r = a_r.drop(['Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1)

c_r = pd.read_csv("Worksheets/contact_records.csv")
c_r = c_r.drop(['Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1)

records = pd.merge(a_r, c_r, on='seller_pk').drop(['id_x', 'id_y'], axis=1)

In [69]:
ff = pd.merge(ff, records, on='seller_pk')

### Updating Seller Status Columns

In [70]:
ff['seller_status_code'] = ff.seller_status_code.str.replace('.', ' - ')
ff['seller_status_code'] = ff.seller_status_code.str.title()
ff['seller_status'] = ff.seller_status.str.title()

In [71]:
ff['seller_distinguished'].fillna(0, inplace=True)
ff['seller_distinguished'].replace('DISTINGUISHED', 1, inplace=True)

### Converting the Date and Time

In [72]:
ff['seller_date_registered'] = ff['seller_date_registered'].astype(int)
ff['seller_date_contract_start'] = ff['seller_date_contract_start'].astype(int)

In [73]:
ff['seller_date_registered'] = pd.to_datetime(ff['seller_date_registered'], unit='s')
ff['seller_date_contract_start'] = pd.to_datetime(ff['seller_date_contract_start'], unit='s')

In [74]:
ff['seller_date_registered'] = pd.to_datetime(ff['seller_date_registered'], unit='s')
ff['seller_date_contract_start'] = pd.to_datetime(ff['seller_date_contract_start'], unit='s')

### Updating Column Headers and Exporting CSV

In [75]:
ff.drop(['id', 'address_id'], axis=1, inplace=True)

ff.columns = ff.columns.str.title().str.replace('_', ' ')

In [79]:
ff.to_csv(r'final_script.csv', index=False)

In [77]:
ff.head()

,Seller Pk,Seller Status,Seller Status Code,Seller Rating,Seller Date Registered,Seller Date Contract Start,Seller Distinguished,State,Country,Address Status,Address Type,Account Id,Contact Id
0,f_2,Closed,Closed - Voluntary,NaN,2001-10-10 00:12:55,1970-01-01,0,NaN,FR,ACTIVE,SELLER_SHIPPING,001E000000DwI2OIAV,003E000000ABxThIAL
1,f_2,Closed,Closed - Voluntary,NaN,2001-10-10 00:12:55,1970-01-01,0,NaN,FR,ACTIVE,SELLER_DEFAULT,001E000000DwI2OIAV,003E000000ABxThIAL
2,f_2,Closed,Closed - Voluntary,NaN,2001-10-10 00:12:55,1970-01-01,0,NaN,FR,ACTIVE,SELLER_SHIPPING,001E000000DwI2OIAV,003E000000ABxThIAL
3,f_2,Closed,Closed - Voluntary,NaN,2001-10-10 00:12:55,1970-01-01,0,NaN,FR,ACTIVE,SELLER_DEFAULT,001E000000DwI2OIAV,003E000000ABxThIAL
4,f_3,Closed,Closed - Voluntary,NaN,2000-09-05 21:19:04,1970-01-01,0,Paris,FR,ACTIVE,SELLER_SHIPPING,001E000000DwI2PIAV,003E000000ABxTiIAL

In [62]:
ff.tail()

,Id,Seller Pk,Seller Status,Seller Status Code,Seller Rating,Seller Date Registered,Seller Date Contract Start,Seller Distinguished,State,Country,Address Id,Address Status,Address Type,Account Id,Contact Id
51132,14672,a_14672,Pending,Pending - Unpaid,C,2021-01-14 17:33:27,2021-01-14 05:00:00,0,CA,US,125087762,ACTIVE,SELLER_PAY,0010h00001ibkzbAAA,0030h00002glVTMAA2
51133,14672,a_14672,Pending,Pending - Unpaid,C,2021-01-14 17:33:27,2021-01-14 05:00:00,0,CA,US,125087772,ACTIVE,SELLER_SHIPPING,0010h00001ibkzbAAA,0030h00002glVTMAA2
51134,14672,a_14672,Pending,Pending - Unpaid,C,2021-01-14 17:33:27,2021-01-14 05:00:00,0,CA,US,125087772,ACTIVE,SELLER_DEFAULT,0010h00001ibkzbAAA,0030h00002glVTMAA2
51135,14672,a_14672,Pending,Pending - Unpaid,C,2021-01-14 17:33:27,2021-01-14 05:00:00,0,CA,US,125087772,ACTIVE,SELLER_SHIPPING,0010h00001ibkzbAAA,0030h00002glVTMAA2
51136,14672,a_14672,Pending,Pending - Unpaid,C,2021-01-14 17:33:27,2021-01-14 05:00:00,0,CA,US,125087772,ACTIVE,SELLER_DEFAULT,0010h00001ibkzbAAA,0030h00002glVTMAA2